//////// V1 //////////////////////
#include "projectstructs.h"

namespace {
  extern char const wifissid[] = "IoT";
  extern char const wifipsk[] = "";
  extern char const esp_name[] = "ESP32Lora-Test";
}

#include "RXTX.hpp"
#include "OLED.hpp"
typedef OLED<0x3c, 4, 15, 16, true> oledclass;
#include "OTA.hpp"
#include "GPS.hpp"
typedef GPS<1, 22, 23, true> gpsclass;
#include "WLAN.hpp"
typedef WLAN<wifissid, wifipsk, esp_name, true> wlanclass;
#include "LORA.hpp"
typedef LORA<19, 27, 5, 18, 14, 26, 868100000, esp_name> loraclass;
#include "LED.hpp"
typedef LED<2> ledclass;

//////////// V2 ////////////////////////
#include "projectstructs.h"

namespace {
  extern char const wifissid[] = "IoT";
  extern char const wifipsk[] = "";
  extern char const esp_name[] = "ESP32Lora-PS";
}

#include "RXTX.hpp"
#include "OLED.hpp"
typedef OLED<0x3c, 21, 22, 16, true> oledclass;
#include "OTA.hpp"
#include "GPS.hpp"
typedef GPS<1, 34, 35, true> gpsclass;
#include "WLAN.hpp"
typedef WLAN<wifissid, wifipsk, esp_name, true> wlanclass;
#include "LORA.hpp"
typedef LORA<19, 27, 5, 18, 14, 26, 868095000, esp_name, true> loraclass;
#include "LED.hpp"
typedef LED<2> ledclass;


////////////// V3 //////////////////////
#include "projectstructs.h"

#define DISPLAY_OFF true

namespace {
  extern char const wifissid[] = "Blubb-IoT";
  extern char const wifipsk[] = "iotisttoll";
  extern char const esp_name[] = "Lora-002";
}

#include "RXTX.hpp"
#include "OLED.hpp"
typedef OLED<0x3c, 21, 22, 16, false> oledclass;
#include "OTA.hpp"
#include "GPS.hpp"
typedef GPS<1, 27, 34, false> gpsclass;
#include "WLAN.hpp"
typedef WLAN<wifissid, wifipsk, esp_name, false> wlanclass;
#include "LORA.hpp"
typedef LORA<19, 18, 5, 21, 4, 36, 868095000, esp_name, false> loraclass;
#include "LED.hpp"
typedef LED<13> ledclass;